@page
@model Coursework.Pages.AboutUsModel
@{
}

<html>
	<main>
		<div class="class-bg3">
			<img src="Images\AboutUsBanner.png" class="beg-bg">
			<div class="text5">
				<h1>About Us</h1>
			</div>
		</div>
		<div class="beg-title">
			<h2>What is the Art Cavort?</h2>
			<p>The Art Cavort serves as a place to ease people into the art of sketching, allowing them to get into the flow of drawing and learning naturally without any complicated techniques. As for the stationery shop itself, we wish to provide everything but ordinary stationery to get you started on your art journey.</p>
		</div>
		<div class="beg-title">
			<p>Our catalogue has a wide range of stationery suited to everything art, from clay modelling to charcoal pencils. If you think it, we most likely provide it!<p>
		</div>
		<div class="beg-title">
			<h2>FAQ<br>Who is behind the Art Cavort?</h2>
			<p>My name is Rick Richard Harith, and I'm the head in The Art Cavort, responsible with the material, design and creation of the website.</p>
			<h2>Is this site any good for intermediate or advanced artists?</h2>
			<p>We provide stationery to everything art related, mostly aimed at experienced artists.</p>
			<h2>What should I do if I lose motivation to draw?</h2>
			<p>Art block is a normal occurance when one draws for a long time. Speaking from experience, after finishing an art piece, I was burnt out and stopped for 2 years. Usually this occurs because of a negative mindset and lack of confidence in your own work. My advice is, don't force yourself to draw, take a break and relax. Think of the art block as night time, eventually the sun while rise again.</p>
		</div>
	</main>

<script src="script.js"></script>
</html>
