@page
@model Coursework.Pages.ContactUsModel
@{

}

<main>
    <div class="formandmap">
        <div class="contact-form-wrapper">
            <form>
                <div class="contact-text">
                    <p>Send Us a Message!</p>
                </div>
                <div class="form-item">
                    <input type="text" name="sender" required />
                    <label class="contact-us-label">Name:</label>
                </div>
                <div class="form-item">
                    <input type="text" name="email" required />
                    <label class="contact-us-label">Email:</label>
                </div>
                <div class="form-item">
                    <textarea class="" name="message" required></textarea>
                    <label class="contact-us-label">Message:</label>
                </div>
                <button class="submit-btn">Send</button>
                <div class="contact-text2">
                    <p>Phone Number: 0141 496 0149</p>
                </div>
                <div class="contact-text2">
                    <p>Address: 73 Church Street, DUNDEE, DD29 2VW</p>
                </div>
            </form>
        </div>
        <div class="mappy">
            <p>Or Find Us Here!</p>
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.169016582864!2d135.8212778!3d34.7009167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d10b2da4b3b224a!2zMzTCsDQyJzAzLjMiTiAxMzXCsDQ5JzE2LjYiRQ!5e0!3m2!1sen!2suk!4v1655655368778!5m2!1sen!2suk"
                        width="600"
                        height="400"
                        style="border: 0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</main>